@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&display=swap");
@import "./components/normalizer";
@import "./components/section";
@import "./components/variables";
* {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
